<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> To Do </title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>To Do List Creator</h1>
    </header>
    <form>
        <label for="listName">List Name: </label><br>
        <input type="text" id="listName" name="listName"><br>
        <label for="itemOne">Item One: </label><br>
        <input type="text" id="itemOne" name="itemOne"><br>
        <label for="itemTwo">Item Two: </label><br>
        <input type="text" id="itemTwo" name="itemTwo"><br>
        <label for="itemThree">Item Three: </label><br>
        <input type="text" id="itemThree" name="itemThree"><br>
        <input type="submit" value="Submit List">
    </form>
</body>
<footer>
    <p>ELEPHANT</p>
</footer>
</html>
