<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center; width: 250px">
    <h1>Todo List</h1>
    <form id="inputForm">
        <input id="inputField" type="text" name="text" placeholder="Insert your todo here...">
        <button>Add</button>
    </form>
</div>
    <ul id="todo-list">
        
    </ul>

    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
  </script>
  <script src="script.js"></script>
</body>
</html>